*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background: #555777;
}

input {
  outline: none;
  padding: 3px;
  margin: 3px;
  background-color: antiquewhite;
}
button{
  cursor: pointer;
  padding: 4px;
  line-height:1.5rem;
  font-size: 1rem;
  padding: 0;
border: none;
background: antiquewhite;
}